canvas{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
    background: white;
    display : block;

    cursor: url(picture/pen.jpg), auto;
}

#reset{
    display: inline-block;
    margin-top : 20px;
    margin-left : 50px;

    border: none;
    text-align: center;
    font-size: 15px;
    padding : 16px;
    background-color:  #cc7a00;
    color : white;
    transition-duration: 0.1s;
}

#reset:hover{
    background-color: white;
    color : black;
}

#reset:active {
    background-color: #cc7a00;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

#size{
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 15px;
    padding: 16px;
    background-color:  #cc7a00;
    color : white;
}
.sizecon{
    border: none;
    text-align: center;
    font-size: 15px;
    padding : 16px;
    background-color:  #cc7a00;
    color : white;
    transition-duration: 0.1s;
}

.sizecon:hover{
    background-color: white;
    color : black;
}

.sizecon:active {
    background-color: #cc7a00;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

#colors{
    margin-top : 40px;
    text-align: center;
    float: right;
}

#eraser{
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 15px;
    padding : 16px;
    background-color:  #cc7a00;
    color : white;
    transition-duration: 0.1s;
}

#eraser:hover{
    background-color: white;
    color : black;
}

#eraser:active{
    background-color: #cc7a00;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

#save{
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 15px;
    padding : 16px;
    background-color:  #cc7a00;
    color : white;
    transition-duration: 0.1s;
    text-decoration: none;
}

#save:hover{
    background-color: white;
    color : black;
}

#save:active{
    background-color: #cc7a00;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

#text{
    margin-top : 40px;
    text-align: center;
    float: right;
}

#textinput{
    margin-top : 55px;
    float: right;
    border: none;
    text-align: center;
    font-size: 15px;
    padding : 16px;
    background-color:  #cc7a00;
    color : white;
    transition-duration: 0.1s;
}

#textinput:hover{
    background-color: white;
    color : black;
}

#textinput:active{
    background-color: #cc7a00;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

#upload{
    display: none;
}

#pastelabel{
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 15px;
    padding : 16px;
    background-color:  #cc7a00;
    color : white;
    transition-duration: 0.1s;
    text-decoration: none;
}

#pastelabel:hover{
    background-color: white;
    color : black;
}

#pastelabel:active{
    background-color: #cc7a00;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

.step{
    border: none;
    text-align: center;
    font-size: 15px;
    padding : 16px;
    background-color:  #cc7a00;
    color : white;
    transition-duration: 0.1s;
}

.step:hover{
    background-color: white;
    color : black;
}

.step:active {
    background-color: #cc7a00;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

.shape{
    margin-top: 10px;  
    border: none;
    text-align: center;
    font-size: 15px;
    padding : 16px;
    background-color:  #cc7a00;
    color : white;
    transition-duration: 0.1s;
}

.shape:hover{
    background-color: white;
    color : black;
}

.shape:active {
    background-color: #cc7a00;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

#rect{
    margin-left : 50px;
}